/*
	WSRB LOGO COLORS:
	DARK ORANGE	F7931F
	LIGT ORANGE FBB255
	ALPHA 	153

	DARK BLUE 00A3D7
	LIGT BLUE 43C5E4
	ALPHA 229

	MEDM GREEN 30B44B

*/

body {
    font-family: 'Lato', sans-serif;
    color: #39607a;
    font-size: 10px;
}
