<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<compilation xdt:Transform="RemoveAttributes(debug)" />
	<configBuilders>
		<builders>
			<add xdt:Transform="Replace" xdt:Locator="Match(name)" name="AzureKeyVault" vaultName="#{AzureKeyVault}#" vaultUri="#{AzureKeyVaultUri}#" type="Microsoft.Configuration.ConfigurationBuilders.AzureKeyVaultConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.Azure, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</builders>
	</configBuilders>


	<appSettings>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="GeocodeServer" value="#{GeocodeServer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="TRSLayer" value="#{TRSLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ZipCodeLayer" value="#{ZipCodeLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="StateLayer" value="#{StateLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="CountyLayer" value="#{CountyLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="CommunityLayer" value="#{CommunityLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ParcelLayer" value="#{ParcelLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RatedRiskLayer" value="#{RatedRiskLayer}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RatedRiskReportUrlTemplate" value="#{RatedRiskReportUrlTemplate}#" />
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ApplicationCode" value="#{ApplicationCode}#" />
		<!--User Access Service SETTINGS-->
		<add key="Web.Controllers.ProtectionController" value="#{Web.Controllers.ProtectionController}#" />

		<!--Protection Services SETTINGS-->
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RuleMapServer" value="#{RuleMapServer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RuleLayer" value="#{RuleLayer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="RuleField" value="#{RuleField}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BingToken" value="#{BingToken}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ParcelExceptionLayerUrl" value="#{ParcelExceptionLayerUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WSRBLocatorUrl" value="#{WSRBLocatorUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="GeometryServerUrl" value="#{GeometryServerUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ParcelServiceUrl" value="#{ParcelServiceUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="ZipServiceUrl" value="#{ZipServiceUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="CensusGeocoderUrl" value="#{CensusGeocoderUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="CensusBenchmark" value="#{CensusBenchmark}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="LogSqlString" value="#{LogSqlString}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="DebuggingLevel" value="#{DebuggingLevel}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BingMatchCode" value="#{BingMatchCode}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BingUrl" value="#{BingUrl}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WAProtectionMapServer" value="#{WAProtectionMapServer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WAHydrantLayer" value="#{WAHydrantLayer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WAAutoAidLayer" value="#{WAAutoAidLayer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WADriveLayer" value="#{WADriveLayer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WAFpdLayer" value="#{WAFpdLayer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WACountyLayer" value="#{WACountyLayer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="WAHydrantBuffer" value="#{WAHydrantBuffer}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="UserAccessLogQueueName" value="#{UserAccessLogQueueName}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="AppId" value="#{AppId}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BCEGsServiceUrlXY" value="#{BCEGsServiceUrlXY}#"/>
		<add xdt:Transform="Replace" xdt:Locator="Match(key)" key="BCEGsServiceUrlLatLon" value="#{BCEGsServiceUrlLatLon}#"/>
	</appSettings>

</configuration>